/******************************************************************
Stylesheet: Content
******************************************************************/

@import '../variables/content-var';

//= Content Functions =============================================

//= Content Classes ===============================================

#content {
  padding-top: map-get($content-padding-top,small);
  @include breakpoint(medium) {
    padding-top: map-get($content-padding-top,medium);
  }
  @include breakpoint(large) {
    padding-top: map-get($content-padding-top,large);
  }
}

main > article{
  margin: $content-article-margin;
  background-color: $content-article-background;
  @include addShadowBox(darken($body-background,$content-shadow-darken));
  .article-header{
    > h2, > h1 {
      padding: $content-article-padding;
      background-color: $primary-color;
      margin-bottom:0;
      color:$content-header-color;
      > a {color:$content-header-color;}
    }
  }
  .entry-content{
    padding: 0 $content-article-padding;
    .byline{
      font-size: $content-byline-font-size;
      text-align: right;
    }
  }
  .article-footer{
    padding: $content-article-padding;
  }
}

.sidebar{
  div {
    padding: $content-sidebar-padding;
  }
}

.comments-area {
  padding: $content-comment-padding;
}
