/******************************************************************
Stylesheet: Header
******************************************************************/

@import '../variables/header-var';

//= Header Functions ==============================================

// Topbar Structure
@mixin TopbarHeightRatio($height){
	position:relative;
	width: 100%;
	&:after {
			content:"";
			display:block;
			padding-top: $height;
	}
}

// Topbar Logo
@function getTopbarLogoSize($size) {
	@return rem-calc(map-get(map-get($header-sizes,$size),h1) * $header-lineheight) - map-get($topbar-logo-margin,$size) * 2;
}
@function getTopbarLogoMargin($size){
	@return map-get($topbar-logo-margin,$size);
}
@mixin TopbarLogo($size){
	margin: getTopbarLogoMargin($size);
	width: getTopbarLogoSize($size);
	height: getTopbarLogoSize($size);
	display: inline-block;
	vertical-align: middle;
}
@mixin TopbarHeader($size){
	margin: 0 map-get($topbar-h1-margin,$size);
	display: inline-block;
	vertical-align: middle;
}

// Topbar Right Menu
@function getTopbarMenuHeight(){
	@return 1rem + nth($menu-item-padding,1) * 2;
}
@function getTopbarMenuIconHeight($size){
	@return rem-calc(map-get(map-get($topbar-menu-icon,$size),height));
}
@function getTopbarRightPadding($size, $content-height){
	@return (getTopbarLogoMargin($size) * 2 + getTopbarLogoSize($size) - $content-height) / 2;
}

// Topbar Menu Icon
@mixin TopbarMenuIcon($size){
	@include hamburger(
		$color: $titlebar-icon-color,
		$color-hover: $titlebar-icon-color-hover,
		$width: map-get(map-get($topbar-menu-icon,$size),width),
		$height: map-get(map-get($topbar-menu-icon,$size),height),
		$weight: map-get(map-get($topbar-menu-icon,$size),weight)
	);
}

//= Header Classes ================================================

.header {
	position: relative;

	// Header Text
	a, p, h1
	{
		color: $topbar-font-color;
	}

// Topbar
	.top-bar{
		background: $topbar-main-background;
		background-size: cover;

		@include TopbarHeightRatio($topbar-height-ratio);

		.top-bar-left{
			img {
				@include TopbarLogo(small);
				@include breakpoint(medium) {
					@include TopbarLogo(medium);
				}
			}

			h1{
				@include TopbarHeader(small);
				@include breakpoint(medium) {
					@include TopbarHeader(medium);
				}
			}
		}

		.top-bar-right{
			ul {line-height: 1;}
			padding: getTopbarRightPadding(small, getTopbarMenuIconHeight(small));
			@include breakpoint(medium) {
				padding: getTopbarRightPadding(medium, getTopbarMenuIconHeight(medium));
			}
			@include breakpoint(large) {
				padding: getTopbarRightPadding(medium, getTopbarMenuHeight());
			}

			.responsive-menu-icon {
				@include TopbarMenuIcon(small);
				@include breakpoint(medium) {
					@include TopbarMenuIcon(medium);
				}
			}
		}
	}

	.header-buttons{
		position: absolute;
		bottom:0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;

		.button{
			@include breakpoint(small) {
				font-size: map-get($button-sizes,small);
			}
			@include breakpoint(medium) {
				font-size: map-get($button-sizes,default);
			}
			@include breakpoint(large) {
				font-size: map-get($button-sizes,large);
			}
		}
		.description {
			text-align: center;
			@include breakpoint(medium) {
				font-size: map-get($button-sizes,default);
			}
			@include breakpoint(large) {
				font-size: map-get($button-sizes,large);
			}
		}

		ul {
			margin-left: 0;
		}
	}

	ul.off-canvas-list li {
		list-style: none;
	}
}
