/******************************************************************
Stylesheet: Content Variables
******************************************************************/
$content-padding-top: (
  small: 0,
  medium: 0.5rem,
  large: 1.5rem
);

$content-article-background: $white;
$content-header-background: $primary-color;
$content-header-color: $white;
$content-article-padding: 0.8rem;
$content-article-margin: 0.5rem 0.5rem 2rem 0.5rem;
$content-comment-padding: 3rem 0.8rem 0.8rem 0.8rem;
$content-sidebar-padding: 0 0 3rem 0;
$content-byline-font-size: 0.9rem;
$content-shadow-darken: 40%;
