/******************************************************************
Stylesheet: Header Variables
******************************************************************/

$topbar-font-color: $white;
$topbar-height-ratio: 18%;
$topbar-h1-margin: (
  small: 0.5rem,
  medium: 0.8rem
);
$topbar-logo-margin: (
  small: 0.1rem,
  medium: 0.4rem
);
$topbar-menu-icon: (
  small: (
    weight: 2px,
    height: 18px,
    width: 24px
  ),
  medium: (
    weight:3px,
    height: 24px,
    width: 30px
  )
);

$topbar-shadow-darken: 40%;
